/* font-family: 'Lato', sans-serif; */
html {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #2C3E50;
}

#navbar {
  
}

#navbar li {
  list-style: none;
  padding: 20px;
}

li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}

li a:hover {
  background-color: #18BC9C;
}

#home {
  background-color: #18BC9C;
}

.location {
  color: #FFFFFF;
  background-color: #2C3E50;
}

.web {
  color: #FFFFFF;
  margin: 10px;
  padding: 10px;
}

footer {
  color: #FFFFFF;
  background-color: #1A252F;
}
