html {
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
}

body {
  margin: 0;
  padding: 0;
}

/* navbar */
header {
  background-color: #2C3E50;
  position: fixed;
  padding: 20px;
  width: 100%;  
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

#start {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-right: auto;
  margin-left: 30px;
}

#navbar li {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  list-style: none;
  padding-right: 40px;
}

li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}

li a:hover {
  color: #18BC9C;
}

li a:active {
  color: #FFFFFF;
  background-color: #18BC9C;
}

/* seções */
h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 0;
}

#home {
  width: 100%;
  height: 100vh;
  background-color: #18BC9C;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  padding-top: 12%;
}

.start-bootstrap {
  font-size: 60px;
  font-weight: 900;
}

.about {
  background-color: #18BC9C;
  color: #FFFFFF;
  column-count: 2;
  padding: 50px;
  margin-top: 60px;
}

/* star */
.light-line {
  background-color: #FFFFFF;
  display: inline-block;
  width: 60px;
  height: 2px;
}

.light-star {
  color: #FFFFFF;
}

.dark-line {
  background-color: #2C3E50;
  display: inline-block;
  width: 60px;
  height: 2px;
}

.star-division {
  text-align: center;
}

/* portfolio */
.portifolio-galery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portifolio-galery img {
  width: 350px;
  height: 260px;
  padding: 15px;
}

/* form */
form {
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 30px;
  width: 500px;
}


/* buttons */
button .send {
  color: #FFFFFF;
  font-weight: bolder;
  background-color: #18BC9C;
  padding: 10px;
  border-radius: 5px;
}

button .download {
  color: #FFFFFF;
  font-weight: bolder;
  background-color: #18BC9C;
  border: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
}


/* rodapé */
footer {
  color: #FFFFFF;
  background-color: #2C3E50;
  text-align: center;
  padding: 40px 50px 5px 50px;
}

.copyright {
  font-size: 12px;
}

.web {
  color: #FFFFFF;
  margin: 10px;
  padding: 10px;
}

.web-icon {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

span {
  color: #18BC9C;
}